.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.users .active {
  color: rgb(244, 244, 245);
}

.users {
  padding-left: 10px;
}

.name {
  padding: 20px;
}

.messageItem {
  padding: 20px;
}
