.header {
  display: flex;
  justify-content: space-between;
  grid-area: h;
  background-color: black;
  align-items: center;
}

.header img {
  width: 100px;
}

.login{
  color: antiquewhite;
  text-decoration: none;
  cursor: pointer;
  padding-right: 10px;
}

.login:hover {
  color: rgb(146, 146, 245);
}

