.nav {
  grid-area: n;
  background-color: #cccccc;
  padding: 15px;
}

.nav a {
  text-decoration: none;
  color: #000000;
}

a.active {
  color: #707070;
}

.friends{
  padding-top: 10px;
}

.friendsItem{
  padding-top: 50px;
}